name: Mini-CI-Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pytest pytest-html

      - name: Run tests
        run: |
          pytest --html=report.html --self-contained-html

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.html
